form{
    width: 800px;
    margin: auto;
}
input, textarea{
    font-size: 13pt;
    background-color: rgba(255, 255, 255, 0.3);

}
input:hover, textarea:hover{
    background-color: rgba(51, 135, 161, .3);
}
legend{
    font-weight: bold;
    font-size: 13pt;
}
fieldset{
    margin: 20px;
}
fieldset#sexo{
    margin-left: 50px;
    width: 150px;
}
fieldset#usuario{
    background: url("../_imagens/icone-contato.png") no-repeat 95% 95%;
}
fieldset#endereço{
    background: url("../_imagens/icone-endereco.png") no-repeat 95% 95%;
}
fieldset#mensagem{
    background: url("../_imagens/icone-mensagem.png") no-repeat 95% 95%;
}
fieldset#pedido{
    background: url("../_imagens/icone-pagamento.png") no-repeat 95% 95%;
}
